nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid black;
}

.nav__column:first-child {
  padding-left: 20px;
  font-size: 13px;
}

.nav__column:nth-child(2) {
  padding-right: 15px;
  font-size: 15px;
}
